@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

$white: #fff;
$transition: 0.4s;
$boxShadow: 0 10px 10px rgba(0, 0, 0, 0.102);
$darkGreen: #0d532a;
$lightGreen: #296821;
$darkOlive: #212913;
$middleGreen: #43623f;
